@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/home.css" rel="stylesheet" />

<video autoplay muted loop class="video-fundo">
    <source src="~/video/275052_tiny.mp4" type="video/mp4" />
</video>
<div class="text-center text-success">
    <h1 class="display-4 fw-bold">Seja bem-vindo ao VeganLume</h1>
</div>
